"*":
  core:
    disabledPackages: [
      "spell-check"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "__pycache__"
    ]
    projectHome: "C:\\Users\\Ryan\\Documents\\Github"
    telemetryConsent: "limited"
    themes: [
      "monokai-tweaked-ui"
      "monokai-complete-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "ubuntu mono"
    fontSize: 18
    lineHeight: 1.25
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "0316c552-8dd2-3fda-e8b5-2d9b73ef2e91"
  "git-diff":
    showIconsInEditorGutter: true
  linter: {}
  "linter-pylint":
    executablePath: "pylint3"
    rcFile: "C:\\Users\\Ryan\\.atom\\atom.pylintrc"
  "linter-ui-default": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
    smoothScrolling: false
  pigments:
    delayBeforeScan: 1000
  "rst-preview-pandoc":
    pandocOpts: "-frst -thtml --webtex"
  tabs:
    enableVcsColoring: true
  welcome:
    showOnStartup: false
".console.python.text":
  editor:
    autoIndentOnPaste: false
    softWrapAtPreferredLineLength: false
".python.source":
  editor:
    autoIndentOnPaste: true
    softWrapAtPreferredLineLength: true
