/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */


/*
 * Examples
 * (To see them, uncomment and save)
 */
/* Compactify tree-view stuff */
.tree-view {
  // Current is #212224
  //background-color:mix(#212224,darken(#caca9c,60%),20%);
   font-size: 12px;
  .list-item {
    line-height: 1.92em !important;
  }
  .icon:before {
    font-size: 1.3em;
    width: 0.9em;
    height: 1.2em;
  }
  // .project-root-header {
  //   &::before{
  //     top: 0.5em !important;
  //   }
  // }
  // style the background color of the tree view
  // background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
  // color: white;
  // background-color: hsl(180, 24%, 12%);
  // Current is #0d0d0d for Monokai-syntax
  // Line color is #caca9c
}

atom-text-editor .gutter .line-number {
  //Current is #caca9c
}

// Below scrollbar code copied from One Dark with modified colors
// Backgrounds are the same as the existing colors
@scrollbar-background-color: lighten(#212224,4%);
@scrollbar-background-color-editor: lighten(#0d0d0d,6%);
@scrollbar-color: lighten(@scrollbar-background-color,20%);
@scrollbar-color-editor: lighten(@scrollbar-background-color-editor,25%);
.scrollbars-visible-always {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: @scrollbar-background-color;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 3px solid @scrollbar-background-color;
    background: @scrollbar-color;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-corner {
    background: @scrollbar-background-color;
  }

  ::-webkit-scrollbar-thumb:vertical:active {
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
  }

  ::-webkit-scrollbar-thumb:horizontal:active {
    border-radius: 0;
    border-top-width: 0;
    border-bottom-width: 0;
  }

  atom-text-editor {
    ::-webkit-scrollbar-track {
      background: @scrollbar-background-color-editor;
    }
    ::-webkit-scrollbar-corner {
      background: @scrollbar-background-color-editor;
    }
    ::-webkit-scrollbar-thumb {
      border-color: @scrollbar-background-color-editor;
      background: @scrollbar-color-editor;
    }
  }
}

// Unset the webkit skew transforms in tabs

.tab-bar {
  // height: @tab-height + @tab-top-padding + @tab-bottom-border-height;
  // background: @tab-bar-background-color;
  // box-shadow: inset 0 -8px 8px -4px rgba(0,0,0, .15);
  // padding: 0 13px 0 10px;
  // box-sizing: border-box;

  &:after {
    // content: "";
    // position: absolute;
    // bottom: 0;
    // height: @tab-bottom-border-height;
    // left: 0px;
    // width: 100%;
    // background-color: @tab-background-color-active;
    // border-top: 1px solid @tab-border-color;
    // border-bottom: 1px solid @tab-bar-bottom-border-color;
  }

  .tab {
    // position: relative;
    // top: @tab-top-padding;
    // height: @tab-height;
    // line-height: @tab-height;
    // color: @text-color;
    // padding-left: 0;
    margin-left: 15px;
    // border-top-right-radius: @tab-radius;
    // box-shadow: inset -1px -1px 1px rgba(0,0,0, .5);
    // -webkit-transform: skewX(@tab-skew);
    -webkit-transform: unset;
    // transition: color .1s ease-in;
    // box-shadow: inset -1px 1px 0 @tab-border-color, 4px 0px 4px rgba(0,0,0,.3);
    // border: none;

    &, &:before {
      // background-image: -webkit-linear-gradient(top, lighten(#333, 7%), #333);
    }

    &:before {
      // content: '';
      // position: absolute;
      // top: 0;
      // left: -18px;
      // height: @tab-height;
      width: 18px;
      // border-top-left-radius: @tab-radius;
      // -webkit-transform: skewX(133deg);
      -webkit-transform: unset;
      // box-shadow: inset 1px 1px 0 @tab-border-color, -4px 0px 4px rgba(0,0,0,.1);
      // border: none;
    }

    .close-icon {
      // z-index: 3;
      // line-height: @tab-height;
      // -webkit-transform: skewX(-@tab-skew);
      -webkit-transform: unset;
    }
    &.modified:not(:hover) .close-icon {
      // top: @tab-height/2 - @modified-icon-width/2 + 1px;
      // right: 14px;
      // width: @modified-icon-width;
      // height: @modified-icon-width;
    }

    .title{
      //-webkit-transform: skewX(-@tab-skew);
      -webkit-transform: unset;
    }

    &:first-child {
      // margin-left: 20px;
    }
  }

  .tab.active {
    // z-index: 10;
    // line-height: @tab-height - 3px;
    // color: @text-color-highlight;
    // box-shadow: inset -1px 1px 0 @tab-border-color, 4px -4px 4px rgba(0,0,0,.1);
    // border: none;

    .title{
      // position: relative;
      // top: 1px;
    }

    .close-icon {
      // line-height: @tab-height - 1px;
    }

    &, &:before {
      // background-image: -webkit-linear-gradient(top, lighten(@tab-background-color-active, 7%), @tab-background-color-active);
      // height: @tab-height + 1px;
    }

    &:before {
      // border: none;
      // box-shadow: inset 1px 1px 0 @tab-border-color, -4px -4px 4px rgba(0,0,0,.1);
    }
  }

  .tab:hover {
    // color: @text-color-highlight;
  }

  .tab.active:hover .close-icon {
    // color: @text-color-highlight;
  }

  .placeholder {
    // height: @tab-height + @tab-top-padding + @tab-bottom-border-height;
    &:after {
      // top: @tab-height + @tab-top-padding + @tab-bottom-border-height;
    }
  }
}

// To style other content in the text editor's shadow DOM, use the ::shadow expression NOT-DEPRECATED
atom-text-editor::shadow .cursor {
  // border-color: red;
}
